<div class="container-fluid">
  <div class="center setup">

    <span class="w1">Account Info</span>
    <br>
    <a href="/users/updatepage" class="btn btn-default btn-lg" style="width:100px;margin:auto;">Edit</a>
<br><br>
      <span class="w2">Email</span>
      <br><br>
      <span class="w3"><%= @user.email %></span>
    <br><br>
      <span class="w2">Name</span>
      <br><br>
      <span class="w3"><%= @user.first_name %></span>
      <br><br>
      <span class="w2">Country</span>
      <br><br>
      <span class="w3"><%= @user.country %></span>
  </div>
</div>
