<div class="container-fluid">
  <div class="center setup">

    <span class="w1">Account Info</span>
    <br><br>
      <span class="w2">Email</span>
      <br><br>
      <span class="w3"><%= @user.email %></span>
      <br><br>
    <span class="w1">Your Info</span>
    <br><br>
      <span class="w2">Name</span>
      <br><br>
      <span class="w3"><%= @user.name %></span>
      <br><br>
      <span class="w2">Country</span>
      <br><br>
      <%= @user.country %>
  </div>
</div>
