<div class="container-fluid">
    <% @family.each do |family| %>
      <div class="row">
        <div class="col-md-3"><%= image_tag("#{family.housepic}") %></div>
        <div class="col-md-9">
          <%= family.tagline %><br>
          <%= family.city %>", "
          <%= family.country %>
        </div>

      </div>
    <% end %>
</div>
