<div class="container-fluid center" style="display:table;">
  <div style="display:table-cell;vertical-align:middle;">
    <span class="w1">We're really looking forward to helping you explore!</span><br><br>
    <span class="w2">We'll email you when AAE is live and ready for use!</span>
  </div>
</div>
