/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "families";
@import "users";
@import "bootstrap-slider";


.alert alert-success alert-dismissable {
  padding-bottom:0px;
}

.alert alert-danger alert-dismissable {
  padding-bottom:0px;
}




body {
  background-color: #FFC9A6;
}

#loginModal {
  text-align: center;
  .modal-dialog {
    width: 50%;
    margin: auto;
  }
}

#signupModal {
  text-align: center;
  .modal-dialog {
    width: 50%;
  }
}

#nouserModal {
  .row {
    border: none;
    .col-md-6 {
      height: 380px;
      .btn {
        margin-bottom: 0;
        margin-top: auto;
      }
    }
  }
}


.navbar-brand {
  // Vertically center the text given $navbarHeight
  @elementHeight: 20px;
  padding: 5px 20px 5px;
  font-size: 20px;
  line-height: 1;
}

.navbar-default {
    background-color: #428BCA;
    border-color: #E7E7E7;
    text-align: center;
    border-radius: 0px;
}

.navbar-fixed-top {
}

.navbar-text {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.row {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  .row {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
    border-bottom: 0;
  }
}


input[type=text]{
  border-radius:5px;
  border: 1px solid;
}

.form-control {
  border: 1px solid;
}


.slider-track {
  border-radius:5px;
  border: 1px solid;
}

.row + .row {
  border-top:0;
}

n1 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 24px;
  color: white;
}

n2 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 18px;
}

nd1 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 18px;
  padding-left: 9px;
  padding-right: 9px;
}

nl {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 18px;
  color: #428BCA;
  font-weight: bold;
}



.container-gal {
  text-align: center;
  img { border-radius: 6px; }
}



.thumbnails {
  display: inline-block;
  padding-top: 8px;
  margin: auto;
}

.stars {
  display: inline-block;
  margin: auto;
}

#thumb-lg {
  padding-top: 5px;
  padding-bottom: 5px;
}

#connect {
  bottom: 0;
  right: 0;
}


.pad {
  padding-top: 2px;
}

w1 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 48px;
}

w2 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 36px;
}

w3 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 24px;
}

w4 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 18px;
}



.center {
  text-align: center;
}
