/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "families";
@import "users";
@import "bootstrap-slider";


.alert {
  margin-top:0;
  margin-bottom:0;
  padding-bottom:5px;
  padding-top:5px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 24px;
  text-align: center;
}


.img-rounded {
  border: 2px solid;
}



#loginModal {
  text-align: center;
  .modal-dialog {
    width: 43%;
    margin: auto;
  }
}

.modal-body {
  input {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
  }
}

.bottomaligned {
  position:absolute;
  bottom:0;
  margin-bottom:7px;
}

#signupModal {
  text-align: center;
  .modal-dialog {
    width: 50%;
  }
}

#nouserModal {
  .row {
    border: none;
    .col-md-6 {
      .btn {
        margin-bottom: 0;
        margin-top: auto;
      }
    }
  }
}


.navbar-brand {
  // Vertically center the text given $navbarHeight
  padding: 0px 10px 0px;
  font-size: 20px;
  line-height: 1;
}

.navbar-default {
    background-color: #428BCA;
    border-color: #E7E7E7;
    text-align: center;
}


.navbar-text {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  .row {
    padding: 0;
  }
}


input[type=text]{
  border-radius:5px;
  border: 1px solid;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 18px;
}


.form-control {
  border: 1px solid;
}


.slider-track {
  border-radius:5px;
  border: 1px solid;
}


n1 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 24px;
  color: white;
}

n2 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 18px;
}

nd1 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 18px;
  padding-left: 9px;
  padding-right: 9px;
}

nl {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 18px;
  color: #428BCA;
  font-weight: bold;
}

#changemain {
  position: absolute;
  top: 2px;
  bottom: auto;
  left: auto;
  right: 2px;
}


.container-gal {
  text-align: center;
  img {
    border-radius: 6px;
    border: 2px solid;
    }
}



.thumbnails {
  display: inline-block;
  padding-top: 8px;
  margin: auto;
  color: #428BCA;
}

.stars {
  display: inline-block;
  margin: auto;
}


.stars2 {
  display: inline-block;
}


#connect {
  bottom: 0;
  right: 0;
}

.setup {
  width: 70%;
  height:100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;
  border-radius:15px;
}



.pad {
  padding-top: 2px;
}

w1 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 48px;
}

w2 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 36px;
}

w3 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 24px;
}

w4 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 18px;
}



.center {
  text-align: center;
}
